h1 {background-color: rebeccapurple;
    width: 500px;
    text-align: center;
    }
    img { margin-left: 100px;
    }

h2 {background-color: brown;
    width: 500px;
    text-align: center;
}

ul { font-size: 1.5rem;
}

p { background-color: aquamarine; 
    font-size: 1.3rem;
    width: 500px; 

}